/vendor/
/bootstrap/cache/
node_modules/
.phpunit.result.cache
.phpunit.cache/
.php-cs-fixer.cache
.php_cs.cache
composer.lock
phpunit.xml
.env
.env.backup
.env.testing
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.log
.DS_Store
Thumbs.db
/test-output
