includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - vendor
        - storage
        - stubs
